@use '../base/mixins'as *;
@use '../base/variables'as *;

.main-visual {
  height: 100vh;
  background-image: url('../img/mv.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: $darkBlue;

  /* アニメーション名: slide-animation
  時間: 40秒かけて1往復
  速度: ease-in-out (開始と終了が滑らか)
  繰り返し: infinite (無限)
  進行方向: alternate (往復)
  */
  animation: slide-animation 40s ease-in-out infinite alternate;
}


@keyframes slide-animation {

 /* 開始時（左端に表示） */
  0% {
  background-position: 0% 50%;
  }

  /* 終了時（右端に表示） */
  100% {
  background-position: 100% 50%;
  }
}

.main-cc {
  text-align: center;
  font-size: 4rem;
  text-shadow: 1px 1px 10px $darkBlue;
  padding-top: 14%;
  font-weight: 700;

  @include max(xl) {
    padding-top: 12rem;
  }

  @include max(m) {
    font-size: 2rem;
    padding-top: 30%;
  }

  .emphasis {
    font-size: 6rem;
    color: $white;

    @include max(m) {
      font-size: 4rem;
    }
  }

  .line-group {
    white-space: nowrap;
    color: $white;
  }
}

.main-cc-2 {
  text-align: center;
  transform: translateY(20%);
  color: $white;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: $darkBlue;
  border: 1px solid $white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @include max(xl) {
    font-size: 1.4rem;
  }

  @include max(m) {
    font-size: 1rem;
  }

  br {
  display: none;
  }
}

.main-cc-3 {
  text-align: left;
  color: $white;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 10%;

  @include max(xl) {
    font-size: 1.4rem;
  }

  @include max(m) {
    font-size: 1rem;
    padding-top: 10%;
  }
}


.mv-cta {
  background-color: rgb(255, 255, 255, 0.7);
  width: 30%;
  min-width: 350px;
  margin-top: 2rem;
  display: block;
  height: 100%;
  padding: 2rem;

  @include max(xl) {
    width: 60%;
  }

  @include max(m) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: auto;
  }
  

    .mv-cta-cc {
      text-align: center;
      background-color: $darkBlue;
      color: $white;
      padding: 1rem;
      font-weight: 500;
      font-size: 1.2rem;

      @include max(xl) {
        font-size: 1.6rem;
      }

      @include max(m) {
        font-size: 1.2rem;
      }
    }

    .mv-cta-cc-2 {
      text-align: center;
      position: relative;

      @include max(xl) {
        font-size: 1.2rem;
      }

      @include max(m) {
        font-size: 1rem;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 30px;
        width: 2px;
        background-color: $darkBlue;

      }

      &::before {
        transform: rotate(45deg);
        left: 15px;
      }

      &::after {
        transform: rotate(-45deg);
        right: 15px;
      }
  }
}





/*=========================*/
/*Problems*/
/*=========================*/


.flexBox {
  @include flexBox;
  flex-wrap: wrap;
  row-gap: 3rem;
  align-items: stretch;

  @include max(m) {
    flex-direction: column;
  }
}

.problems-box {
  --image-width: 8rem;
  height: auto;
  flex-basis: 48%;
  @include darkBlueGradation;
  margin-top: 4em;
  padding: 0 1rem 2rem 1rem;
  box-shadow: 1px 1px 10px $shadow;

  img {
    width: var(--image-width);
    aspect-ratio: 1;
    object-fit: cover;
    margin-top: calc(var(--image-width) / 2 * -1);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    color: $white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  p {
    color: $white;
  }
}




/*=========================*/
/*Features*/
/*=========================*/

.features-block {
  @include flexBox;
  column-gap: 1rem;
  align-items: stretch;

  @include max(m) {
    flex-direction: column;
    gap: 2rem;
  }

  li {
  background-color: $white;
  padding: 2rem 1rem;
  flex: 1;

    img {
      width: 6rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }

    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}


/*=========================*/
/*Testimonials*/
/*=========================*/

.testimonials-block {
  display: flex;
  align-items: center;

  @include max(m) {
    flex-direction: column;
    position: relative;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    margin-top: 3rem;

    @include max(m) {
      flex-direction: column;
      margin-top: 5rem;
    }

    .testimonials-block-textBlock {
      margin-left: 0;
      margin-right: -5rem;

      @include max(m) {
        margin-right: 0;
      }
    }
  }

  img {
    width: 55%;

    @include max(m) {
      width: 100%;
    }
  }

  .testimonials-block-textBlock {
    width: 55%;
    /* テキストブロックの幅 */
    background-color: white;
    padding: 2.5rem;
    // border-radius: 10px;
    // box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    position: relative;
    z-index: 10;
    margin-left: -5rem;
    background-color: transparent;
    background-image: linear-gradient(143deg, rgba(233, 240, 250, 0.2), rgba(168, 202, 240, 0.7));

    @include max(m) {
      margin-left: 0;
      position: static;
      padding: 1.5rem;
      width: 90%;
      margin-top: -5rem;
      margin-left: auto;
      margin-right: auto;
      z-index: 10;
    }
  }

  h3 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.4rem;

    @include max(m) {
      font-size: 1.1rem;
    }
  }

  p {
    text-align: justify;
  }
}





/*=========================*/
/*Flow*/
/*=========================*/
.flow-block {
  @include flexBox ($jC: center);
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $white;
  position: relative;
  margin-bottom: 32px;

  @include max(m) {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:not(:last-child)::after {
    /* 最後の要素"以外"の .flow-block の後ろに三角形を追加 */
    content: "";
    position: absolute;
    left: 50%;
    // bottom: -2.5rem;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid $fontColor;
  }

  &-leftBox {
    width: 30%;
    min-width: 250px;
    padding-left: 1rem;

    @include max(m) {
      width: 100%;
      padding-left: 0;
    }

    p {
      font-weight: bold;
    }
  }

  &-rightBox {
    width: calc(100% - 30%);
    max-width: calc(100% - 250px);
    padding-right: 1rem;

    @include max(m) {
      width: 100%;
      max-width: 100%;
      padding-right: 0;
    }
  }
}



/*=========================*/
/*pricing*/
/*=========================*/
.pricing-block {
  @include flexBox;
  gap: 2rem;


  @include max(m) {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0 7.5%;
    gap: 0;
    -webkit-overflow-scrolling: touch;
    
    /* Firefox用のスクロールバー */
    scrollbar-width: thin; /* スクロールバーを細く表示 */
    scrollbar-color: $blue $baseColor; /* [つまみ] [背景(トラック)] の色 */

    /* Chrome, Safari, EdgeなどWebKit系のブラウザ用 */
    &::-webkit-scrollbar {
      height: 8px; /* スクロールバーの高さ */
    }

    /* スクロールバーの背景部分（トラック） */
    &::-webkit-scrollbar-track {
      background-color: $baseColor; /* 背景色 */
      border-radius: 4px;
    }

    /* スクロールバーのつまみ部分（サム） */
    &::-webkit-scrollbar-thumb {
      background-color: $blue; /* つまみの色 */
      border-radius: 4px;
      
      &:hover {
        background-color: $darkBlue; /* マウスホバー時のつまみの色 */
      }
    }
  }


  h3 {
    color: $white;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pricing-block-box {
    flex: 1;
    border: 1px solid $blue;

    @include max(m) {
      flex: 0 0 85%; /* 伸び縮みせず、幅85%を維持 */
      scroll-snap-align: center; /* 中央でスナップする */

      &:not(:last-child) {
      margin-right: 2rem;
      }
    }

    &:nth-child(1) {
      h3 {
        background-color: $blue;
      }
    }

    &:nth-child(2) {
      h3 {
      @include darkBlueGradation;

      span {
        color: $white;
      }
    }
  }

  &:nth-child(3) {
    h3 {
      background-color: #24547B;
    }
  }

  &>div {
    @include flexBox;
    padding-top: 2rem;
    border: 1px dotted $blue;
    padding-left: 1rem;
    padding-right: 1rem;

    &>p {
      font-size: clamp(12px, 1vw, 14px);
      white-space: nowrap;

      &>span {
        font-size: clamp(10px, 1vw, 11px);
        // font-size: 10px, 1vw, 11px;
      }
    }
  }

  &>a {
    color: $white;
    background-color: #24547B;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: fit-content;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $blue;
    transition: ease-in-out 0.2s;
    box-shadow: 2px 2px 4px $shadow;

    &:hover {
      background-color: $blue;
      transition: ease-in-out 0.2s;
      border: 1px solid $darkBlue;
      box-shadow: none;
    }
  }
}
}




/*=========================*/
/*FAQ*/
/*=========================*/

.faq {
  .accordion-area {
    li {
    border: 1px solid $blue;
    margin-top: 2rem;

    section {

      .title {
      position: relative;
      cursor: pointer;
      padding: 1rem 2rem;
      transition: ease-in-out 0.2s;
      background-color: #24547B;
      color: $white;

      @include max(m) {
        font-size: 1.1rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transition: 0.2s ease-in-out;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: $white transparent transparent transparent;

        transform: translateY(-50%);
      }

      &.close::before {
        transform: translateY(-50%) rotate(180deg);
      }
      }
    }

    .box {
      padding: 1rem;
      background-color: $white;
      display: none;

      @include max(m) {
        font-size: 14px;
      }
    }
    }
  }
}



/*=========================*/
/*CTA*/
/*=========================*/
.cta {
  @include darkBlueGradation;
  margin-top: 6rem;
  padding: 4rem 3rem;

  @include max(xl) {
    padding: 3rem 2rem;
  }

  @include max(m) {
    padding: 2rem 1rem;
  }

  .cta-block {
    @include flexBox($aI: center);
    gap: 2rem;

    @include max(m) {
      flex-direction: column;
    }

    &-box {
    // flex: 1;

    &:nth-child(1) {
      flex: 0 0 60%;

      @include max(xl) {
        flex: 0 0 55%;
      }

      h2 {
      text-align: center;
      font-size: clamp(30px, 1vh, 34px);
      color: $white;
      text-wrap: pretty;

      span {
        display: inline-block;
        color: $white;
      }
      }

      p {
      margin-top: 2rem;
      text-align: center;
      color: $white;
      line-height: 2;
      font-size: clamp(14px, 1vw, 16px);

      @include max(m) {
        font-size: 12px;
      }
      }
    }

    &:nth-child(2) {
      @include flexBox($aI: center);
      flex-direction: column;
      flex: 1;

      img {
      width: 70%;
      }

      a {
        display: block;
        background-color: $white;
        color: $blue;
        width: fit-content;
        font-size: clamp(30px, 1vh, 34px);
        padding: 1rem;
        text-align: center;
        font-weight: 700;

        @include max(m) {
          font-size: 1.6rem;
        }

        span {
          color: $blue;
          font-size: 1.2rem;
        }
      }

      p {
        color: $white;
        position: relative;
        margin-top: 1rem;
        
        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 0;
          background-color: $white;
          height: 110%;
          width: 2px;
          
        }

        &::before{
          transform: rotate(45deg);
          left: -1rem;
        }

        &::after {
          transform: rotate(-45deg);
          right: -1rem;
        }
      }
    }
    }
  }
}


